/* Diana Griffing: Personal Website  */

@import url(https://fonts.googleapis.com/css?family=Great+Vibes);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:300);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif);
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

body {
	font-family: 'Roboto Mono', monospace;
	font-size: 16px;
	font-weight: 300;
	background-color: #ffffff;
	font-style: normal;
}
div {
	display: block;
}
.content {
  min-height: calc(100vh - 108px);
}
h1 {
	font-size: 30px;
    text-align: center;
	color: #333333;
	font-family: 'Noto Serif', serif;
}
h2 {
	text-align: center;
	font-family: 'Noto Serif', serif;
}

.header h1 {
	display: none;
}
.header-image {
	width: 100%;
  	z-index: 0;
}

.sac-header {
	min-height: 100px;
	background-color: #414541;
	padding: 10px;
    text-align: center;
	width: 100%;
}
.sac-header h1 {
	color: white;
	font-family: 'Great Vibes', cursive;
	font-size: 30px;
}
.names {
	font-family: 'Great Vibes', cursive;
	font-size: 50px;
	color: #414541;
}
.celebrate, .which, .story, .details, .rsvp {
	padding: 24px 24px;
}
.where, .rsvp-form {
	margin-top: 5px;
	max-width: 90%;
	margin: 0 auto !important;
	float: none !important;		
}
.rsvp-form {
	background-color: #eeeddd;
	padding: 8px;
}
.adjustable {
	resize: both;
  	overflow: auto;
}
.buttons {
	display: flex;
	justify-content: center;
	padding-top: 30px;
}
#left-button {
	margin-right: 5px;
}
#right-button {
	margin-left: 5px;
}
.button {
  background-color: #414541;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.button:hover {
	background-color: black;
}
.story p {
	margin-top: 10px;
	font-family: 'Roboto Mono', monospace;
}
.where {
	text-align: center;
	padding-top: 8px;
}
.details {
	margin: auto;
	text-align: center;
}
.divide {
	margin: 0px 24px;
}
.columns{
	margin: 0px 30px;
}
.left {
	float: left;
	width: 40%;
}
.right {
	float: right;
	width: 40%;
}
.columns:after{
	content: "";
	display: table;
	clear: both;
}
.animoji {
	max-width: 100%;
}
.us, .photos, .pictures {
	margin: auto;
	text-align: center;
}
.us-image {
	width: 200px;
}
.photography {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 300px;
}
footer {
  	height: 108px;
	text-align: center;
	background-color: #b2b995;
	font-size: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}
.footer-logo {
	background-color: #b2b995;
	max-height: 50px;
	display: block;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (min-width: 768px){
	body {
		font-size: 20px;
	}
	.header {
		padding-top: 500px;
    	text-align: center;
		width: 100%;
		min-height: 700px;
        background-repeat: no-repeat;
        background-size: cover;
		background-color: #414541;
		background-image: url("../img/Wedding_D750_0388.jpg");
		background-attachment: fixed;
		background-position: top center;
	}
	.header h1 {
		color: white;
		font-weight: 900;
		text-align: center;
		display: block;
		font-size: 40px;
	}
	.header-image{
		display: none;
	}
	.header p, .pictures p {
		text-align: center;
	}
	.sac-header {
		min-height: 150px;
		padding: 30px;
	}
	.sac-header h1 {
		font-size: 48px;
	}
	h4 {
		font-size: 24px;
	}
	.names {
		font-size: 70px;
		margin-top: 30px;
	}
	.columns {
		margin: 0px 60px;
	}
	.exclude {
		display: inline;
		list-style-type: circle;
		margin: 0px 90px;
	}
	.skill-list {
		display: none;
	}
	.celebrate, .which, .story, .pictures{
		padding: 48px 48px;
		max-width: 960px;
		margin: 0 auto !important;
		float: none !important;
	}
	.animoji {
		max-width: 300px;
	}
	.story p, .buttons {
		margin-top: 20px;
		max-width: 960px;
		margin: 0 auto !important;
		float: none !important;		
	}
	
	.details {
		margin: auto;
		text-align: center;
	}
	.us-image {
		width: 400px;
	}
	.photography {
		width: 500px;
	}
}

/*RSVP FORM STYLE*/
* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.rsvp-form {
  border-radius: 10px;
  background-color: #eeeddd;
  padding: 30px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75 {
    width: 100%;
    margin-top: 0;
  }
}